<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .table td, .table th {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'back:back_index' %}">Home</a>
        </li>
      </ul>
    </nav>
    <br>
    <div class="contain">
  <h2>Records</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ip</th>
        <th>群组</th>
        <th>文件时间</th>
        <th>源文件名称</th>
        <th>源文件所在目录</th>
        <th>源文件全路径</th>
        <th>目标目录</th>
        <th>目标全路径</th>
        <th>状态</th>
        <th>错误信息</th>
        <th style="width: 40px">创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
        {% for record in records %}
            {% if record.status == 0 %}
                <tr class="table-success">
            {% elif record.status == -1 %}
                <tr class="table-danger">
            {% elif record.status == 1 %}
                <tr class="table-warning">
            {% elif record.status == 2 %}
                <tr class="table-primary">
            {% endif %}
                <td>{{ record.ip }}</td>
                <td>{{ record.group }}</td>
                <td>{{ record.file_date }}</td>
                <td>{{ record.src_file_name }}</td>
                <td>{{ record.src_file_dir }}</td>
                <td>{{ record.src_file_path }}</td>
                <td>{{ record.dest_file_dir }}</td>
                <td>{{ record.dest_file_path }}</td>
                {% if record.status == 0 %}
                    <td><span class="badge badge-success">成功</span></td>
                {% elif record.status == -1 %}
                    <td><span class="badge badge-danger">失败</span></td>
                {% elif record.status == 1 %}
                    <td><span class="badge badge-warning">无法连接</span></td>
                {% elif record.status == 2 %}
                    <td><span class="badge badge-primary">重试中</span></td>
                {% endif %}
                {% if record.status != 0 %}
                    <td><a href="#" data-toggle="tooltip" data-placement="top" title="{{ record.error_msg }}">{{ record.error_msg|slice:":10" }}...</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ record.create_time|date:"Y-m-d H:i:s" }}</td>
                {% if record.status != 0 %}
                    <td><a class="btn btn-info" href="{% url 'back:back_retry' record.id %}" role="button">Retry</a></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>