<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .contain {
            width: 30%;
            margin-left: 500px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="contain">
        <form action="{% url 'back:back_retry_process' record.id %}" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="ip">ip</label>
            <input type="text" class="form-control" name="ip" id="ip" value="{{ record.ip }}">
          </div>
          <div class="form-group">
            <label for="group">群组</label>
            <input type="text" class="form-control" name="group" id="group" value="{{ record.group }}">
          </div>
          <div class="form-group">
            <label for="file_date">文件时间</label>
            <input type="text" class="form-control" name="file_date" id="file_date" value="{{ record.file_date }}">
            <small class="form-text text-muted">比如2020-01-02</small>
          </div>
          <div class="form-group">
            <label for="src_file_name">源文件名</label>
            <input type="text" class="form-control" name="src_file_name" id="src_file_name" value="{{ record.src_file_name }}">
          </div>
          <div class="form-group">
            <label for="src_file_dir">源文件目录</label>
            <input type="text" class="form-control" name="src_file_dir" id="src_file_dir" value="{{ record.src_file_dir }}">
          </div>
          <div class="form-group">
            <label for="dest_file_dir">目标目录</label>
            <input type="text" class="form-control" name="dest_file_dir" id="dest_file_dir" value="{{ record.dest_file_dir }}">
          </div>
          <div class="form-group">
            <label for="playbook_name">playbook名称</label>
            <input type="text" class="form-control" name="playbook_name" id="playbook_name" value="{{ record.playbook_name }}">
          </div>
          <button type="submit" class="btn btn-primary">Retry</button>
        </form>
    </div>

</body>
</html>